<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="buttons-wrapper">

        <select id="select-tickers"></select>
        <button onclick="getTickerState()">Получить данные об акции</button>

    </div>
    <div class="ticker-state">
        <span id="ticker-state__information"></span>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>